<p>Dear {{ user.username }},</p>
<p>Welcome to <b>Flasky</b>!</p>
<p>To confirm your account please <a href="http://www.callofnature.top{{ url_for('auth.confirm', token=token, _external=False) }}">click here</a>.</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>http://www.callofnature.top{{ url_for('auth.confirm', token=token, _external=False) }}</p>
<p>Sincerely,</p>
<p>myBlog Team</p>
<p><small>Note: replies to this email address are not monitored.</small></p>
